[2017-05-01 18:04] hexadecy opened #9 "Auto ok except minutes view"
We cannot cancel in minutes view if auto ok is true.

[2017-05-04 04:34] #9 closed

[2017-06-16 10:04] dariusjb opened #10 "RTL support is missing on month/year buttons and prev buttons is smaller than next"
From the demo, you can switch to RTL and you can see the buttons to change month or year are wrongly oriented and wrongly aligned

I thought the align should be fixed, but simply adding the below css rules fixes the issue:

[dir=rtl] .dtp  div.dtp-year-btn-next, [dir=rtl] .dtp  div.dtp-month-btn-next,
[dir=rtl] .dtp  div.dtp-year-btn-next, [dir=rtl] .dtp div.dtp-month-btn-prev {
	-ms-transform: ro

[2017-06-16 10:13] dariusjb opened #11 "Add orientation support in respect of the material designs guidelines for picker"
As a new feature, I would like the support of material design guideline when orientation changes

See:
https://material.io/guidelines/components/pickers.html

I would be able to propose a new template for the support but I am not sure the current template declaration allows any overwrite.

[2017-06-29 03:30] hexadecy commented on #11
Since Angular Material 1.1.4 they added to $mdMedia landscape and portrait. This should only be used for mobile, as $mdMedia is called on each small resize of the window.

[2017-06-29 16:05] hexadecy commented on #10
@dariusjb Is this ok ? https://beenote.github.io/angular-material-datetimepicker/

[2017-07-07 03:20] hexadecy commented on #10
https://github.com/beenote/angular-material-datetimepicker/tree/v1.6.7

[2017-07-19 14:06] k3v3n opened #13 "Publish version to npmjs repository"
I was looking into your last release 1.6.7, and I could not find it on https://www.npmjs.com/package/ng-material-datetimepicker. Would you mind publishing it so I can use the latest input edit feature

[2017-07-19 14:14] hexadecy commented on #13
Done

[2017-07-19 14:14] #13 closed

[2017-07-19 14:15] hexadecy commented on #10
Fixed

[2017-07-19 14:15] #10 closed

[2017-07-19 15:16] dariusjb commented on #10
thks

[2017-07-20 07:59] ptitdam2001 opened #14 "1.6.7 not working on Angular 1.5.9"
Hi,

My application is on angular 1.5.9 and it is not working, I have that message :

`
TypeError: Cannot read property 'createChild' of null
    at Object.link (webpack:///./node_modules/ng-material-datetimepicker/js/angular-material-datetimepicker.js?:160:50)
    at eval (webpack:///./node_modules/angular/angular.js?:1259:18)
    at eval (webpack:///./node_modules/angular/angular.js?:10089:44)

[2017-07-20 08:44] ptitdam2001 commented on #14
To fix that bug, you should replace at line 160 with below :

[code]

[2017-07-24 20:00] hexadecy commented on #14
Issue confirmed for Angular 1.5.x branch, pass in 1.6.0 +.

[2017-07-24 21:11] #14 closed

[2017-07-25 03:08] hexadecy commented on #14
Due to https://github.com/angular/angular.js/commit/296cfce40c25e9438bfa46a0eb27240707a10ffa

[2017-08-30 12:27] biswas123 opened #16 "Adding Minute steps does not produce expected result"
When setting 15 minutes of step, the minutes that can be selected are 00 - 15 - 30 - 45, but this does not go expected, any minute can be set.

Preview at : https://stackoverflow.com/questions/45864678/set-minute-steps-on-mdpicker-library-angularjs

[2017-09-01 04:36] hexadecy commented on #16
You mean when the value is set in the ng-model?
As a workaround:
[code]

What first value do you use? or want?
I can probably round the init value and the fallback to the nearest step.

[2017-09-04 02:34] hexadecy commented on #16
@biswas123 can you try with 1.8.7?

[2017-09-10 05:06] hexadecy opened #17 "No time icon when in edit-input mode with time only"
Only calendar icon is included in Angular Material.
I need to found the svg base64 code of a clock icon.

[2017-09-11 03:33] #17 closed

[2017-09-12 05:23] khayargoli commented on #16
Hi hexadecy,

I still have this problem on latest built.

[2017-09-12 10:54] hexadecy commented on #16
@biswas123 please copy part of your html and js code here, I don't see how to reproduce it on 1.9.2. Do you use Bower or Npm?

[2017-09-15 03:42] hexadecy commented on #16
I have added an example for your case : https://beenote.github.io/angular-material-datetimepicker/
[code]

Can you reproduce it with this?

[2017-09-20 08:02] bhargavmullakuru opened #18 "Getting Invalid dates ..! pls help :)"
@hexadecy i am getting date "2017-09-12T18:30:00.000Z" from the service response ...it is showing "13 sep 2017" in input field ...but if user wants to change the date...while opening ..it is showing as Invalid dates
![datepicker error for 0 s date](https://user-images.githubusercontent.com/26109320/30633002-b2fb4f28-9e07-11e7-85fd-b29c8bee572e.png)

the times also showing other times when selected

[2017-09-20 15:28] hexadecy commented on #18
It must be a JavaScript ISO 8601 Date-Time:
"2017-09-20T15:00:00Z" or "2017-09-20T11:00:00-04:00"
You service returns a RFC3339 with a fractional second, but you can do:
`var d = new Date("2017-09-12T18:30:00.000Z");`

[2017-09-20 15:33] bhargavmullakuru commented on #18
thank you for your reply @hexadecy ... after getting the response can you tell me how i need to change the date/time...like you want me to do like **new date(Response_Date_variable)** for all the dates

[2017-09-20 15:45] hexadecy commented on #18
Can you paste part of your template for this directive.
It should normally convert with the format you specified with moment.
Which version of moment have you included?
currentDate = ngModel
`scope.currentDate = moment(scope.currentDate, scope.format);`

[2017-09-21 03:36] hexadecy commented on #18
Please check your depedencies, I cannot reproduce it.

[2017-09-21 07:12] bhargavmullakuru commented on #18
@hexadecy ...actually i am directly assigning the response to the $scope model...i am not formatting the date...you want me to format with moment and assign...?

[2017-09-21 12:40] hexadecy commented on #18
What error you have in F12 dev console?
$scope.myDateTime = "2017-09-12T18:30:00.000Z" is a valid date.
Because RFC3339 is a sub-profile of ISO 8601, so my first guest was wrong.
The date is **always** formatted by moment in this project, you don't have to format it before.

But make sure you have the right version:
[code]

[2017-09-21 12:46] bhargavmullakuru commented on #18
i am getting  "2017-09-12T18:30:00.000Z" this format from my service response ...i will check for the right versions and will get back to you ..thank you for your reply @hexadecy

[2017-09-21 12:56] hexadecy commented on #18
Pretty similar to one issue you have in the past: https://github.com/logbon72/angular-material-datetimepicker/issues/109
AngularJS, angular-animate, angular-aria **must** be on the same version.
I'm only testing recent version, if you can't be on the latest version let me know.

[2017-09-26 00:12] hexadecy commented on #16
@biswas123 resolved? I will close this issue if I don't have more info...

[2017-09-26 00:14] hexadecy commented on #18
@bhargavmullakuru resolved?

[2017-09-26 06:09] bhargavmullakuru commented on #18
Error: [ngRepeat:dupes] Duplicates in a repeater are not allowed. Use 'track by' expression to specify unique keys. Repeater: itemMonth in picker.monthsAvailable(), Duplicate key: string:Invalid date, Duplicate value: Invalid date

@hexadecy  This error i am getting in my Dev console..i have used the same versions that you commented above

[2017-09-26 06:14] bhargavmullakuru commented on #18
@hexadecy  i am using moment version 2.10.3

[2017-09-26 17:27] hexadecy commented on #18
Month picker is new since beenote/angular-material-datetimepicker v1.8.4 and you need at least Angular Material 1.1.2 because of new $mdMenu.

[2017-09-26 17:46] hexadecy commented on #18
I still cannot reproduce it... try this, I will make a version if you confirm me it's ok.
https://github.com/beenote/angular-material-datetimepicker/blob/gh-pages/js/angular-material-datetimepicker.js#L37
change to:
`<md-menu-item ng-repeat="itemMonth in picker.monthsAvailable() track by $index">`

[2017-09-27 16:46] bhargavmullakuru commented on #18
@hexadecy  ..thanks for your patience with my issue ... i am using angular-aria v1.4.8 and AngularJS v1.3.13... and i included latest cdn of DateTimePicker v1.9.3 .....
i am getting error of  " _angular.js:11607 Error: [$injector:unpr] Unknown provider: $$mdSvgRegistryProvider <- $$mdSvgRegistry <- mdcDatetimePickerDirective_ "

[2017-09-28 02:57] hexadecy commented on #18
$$mdSvgRegistry is not included with angular-material v1.1.0-rc1
I included the calendar icon with a svg in base64 in DateTimePicker [v1.9.4 ](https://github.com/beenote/angular-material-datetimepicker/releases/tag/v1.9.4)

I still think that you issue is in the parsing with moment, have you tried with moment 2.18.1 and with moment-with-locales.
`<script src="https://cdnjs.cloudflare.com/ajax/libs

[2017-10-05 04:31] phuwin opened #20 "Open datetimepicker dialog closes another dialog"
Any code fix suggestion or options I can use to fix this?

[2017-10-05 09:28] bhargavmullakuru commented on #18
@hexadecy ... I have converted this date "2017-09-12T18:30:00.000Z"to new Date("2017-09-12T18:30:00.000Z") ...in the response...it is working fine now.. i think the issue was parsing the time stamp to ISO string

[2017-10-05 09:29] bhargavmullakuru commented on #18
🎉 @hexadecy thank-you for taking time and helping me on this Issue 👍

[2017-10-05 09:29] #18 closed

[2017-10-05 14:28] hexadecy commented on #20
What version of are you using? and other deps like angular material?

[2017-10-20 02:46] hexadecy commented on #20
I suppose you found it?

[2017-10-20 02:46] #20 closed

[2017-10-20 02:46] #16 closed

[2017-11-17 14:28] jasondiazg opened #22 "Do not call ng-change method"
I have been using your fork for a few months now. Everything works well, but today I found a problem with the ng-change method.

I have the following HTML:
`<input mdc-datetime-picker ng-model="vm.valueModel" ng-change="vm.runOnChangeTrigger()"/>`

And the following JS:
`vm.runOnChangeTrigger = function() {
       if (vm.onChange)
           vm.onChange( { value: vm.valueModel } );
  }`

Where vm.

[2017-11-30 04:19] hexadecy commented on #22
ng-change is used on our production site since 25 Apr 2016.
I'm not sure what you try to do with vm.onChange? Why do you pass an object with a value that is already accessible anywhere in your current scope?

Try with:
`<input mdc-datetime-picker ng-model="vm.valueModel" ng-change="vm.alert('changed')">`

In your controller:
[code]

[2017-12-06 19:22] hexadecy opened #23 "No ng-change on click clear X"
Must be used with show-icon

[2017-12-11 20:41] Prokfantasmist opened #24 "Mysql format issue"
There is now way post for mysql format.

Current post format:
Mon Dec 11 2017 23:40:51 GMT+0300 (+03)

It should be for mysql;
2017-11-03 23:40:51

[2017-12-12 01:56] hexadecy commented on #24
The format is a date you have to transform before the post. Normally http libraries transform the js date to a Json.

The conversion to mysql should be done by the backend service.

[2017-12-12 13:47] ghost commented on #24
I found the solution;

date: moment($scope.reminder_date).format("YYYY-MM-DD HH:mm:ss"),

[2017-12-12 14:09] hexadecy commented on #24
Ok you are converting the date to a string format, but you are losing the client timezone.
[code]

Just make sure your server is set to GMT+0300.
Some Linux distribution are set to UTC.

[2017-12-12 14:13] hexadecy commented on #22
I also added `ng-clear="expression"` in 1.9.7, because if the date value is cleared to undefined or not changed, `ng-change` does not trigger. `ng-clear` must be used with the X icon from `show-icon=true`.

[2017-12-13 17:37] jasondiazg commented on #22
The vm.onChange is a binding of the component that manage your input mdc-datetime-picker. If the programmer add the binding on-change, I invoke this from the ng-change method in the component. But do not pay attention to this at the moment.

Thank you for ng-clear! I will be testing this and I will tell you the results...

[2017-12-13 18:04] hexadecy commented on #22
I found a bug, if the date is manually cleared (keyboard delete) when in `edit-input="true"`, ng-change or ng-clear is not called.

Probably related to this check:

    if (!moment(scope.currentDate).isSame(options.currentDate)) {
        $timeout(scope.ngChange, 0);
    }

[2017-12-13 18:14] jasondiazg commented on #22
Exactly that is the error that I have. The date is written directly by the user. Any idea for resolve this?

[2017-12-14 01:37] j-walker23 opened #25 "Keep bounded data type?"
Hey, thanks for this awesome fork.

Just was curious if it was currently possible for the ng-model to stay a moment data type if that is the initial type given.
When i pass a object to the directive that is a moment object, then use it to change the date/time. My bound ng-model changes to a native Date. Is there anyway around that? Hoping i am just missing something.

[2017-12-14 04:21] hexadecy commented on #25
@j-walker23 you are right. Easiest way to check: `{{date._isAMomentObject}}`

._d is the internal date of moment.
[code]

Do you know why ?

[2017-12-14 04:36] hexadecy commented on #22
As a workaround, in your controller (inject $scope), then:
[code]
ng-change normally does not evaluate the expression when the value change is coming from the model, in our case from the user keyboard.

[2017-12-14 15:57] j-walker23 commented on #25
I don’t know why. Is it backwards compat reasons?

On Wed, Dec 13, 2017 at 9:21 PM Michel Couillard <notifications@github.com>
wrote:

[2017-12-14 16:21] jasondiazg commented on #22
thank you @hexadecy! This works for me. It's closed.

[2017-12-14 17:41] j-walker23 commented on #25
Actually, i think i might have a feature request after looking at the code. If i pass a moment utc value in, then the object returned after date/time selection stay in utc.

This came up from giving the directive a utc moment object. Then after an edit through the directive is made, the date shown gets shifted by whatever my timezone offset is. Confusing the user who selected a time, and then is d

[2017-12-14 20:46] hexadecy commented on #22
I can release a new version with:
[code]
In that case ng-clear will be useless I think.

[2017-12-15 02:02] hexadecy commented on #23
I am thinking removing ng-clear and call a ngChange instead. There is also an issue with manually clearing the input.

[2017-12-15 02:04] hexadecy commented on #22
@jasondiazg do you still use ng-clear?, I think I will call a ngChange on clear and also when the date go to undefined.

[2017-12-15 04:20] #23 closed

[2017-12-17 05:14] hexadecy commented on #25
@j-walker23 can you test it?

Yes it's a bug and can be confusing.
Now if a moment utc is passed it will stay as passed.
Do not use with `edit-input="true"` for now.

Since version 1.0, logbon72 chose to return a js date, but returning a moment (local) can also be done.

[2017-12-17 12:26] free-easy opened #26 "edit-input="true" doesn't work as expected"
When I use the option `edit-input="true"` I would expect that the inserted string gets converted into a date object but that doesn't happen. It seems that the model remains empty.

[2017-12-17 12:33] chenlijun99 commented on #26
My bad.
By investigating in the code I saw this,
[code]
`createChild` has been introduced with angularjs 1.6.x and I was using angularjs 1.5.x

[2017-12-17 12:33] #26 closed

[2017-12-19 15:34] jasondiazg commented on #22
Go ahead, you can remove ng-clear if you wish! I'm not really using it. Thank you for your help.

[2017-12-19 15:46] #22 closed

[2017-12-20 19:05] j-walker23 commented on #25
Damn, i just saw this. Thank you, I will test it today!

[2017-12-22 00:08] j-walker23 commented on #25
Worked perfectly. Thank you!

[2017-12-22 00:08] #25 closed

[2018-01-29 03:56] hexadecy opened #27 "Support for ng-model-options timezone"
Issue: Date is always displayed in local time
Expected: `ng-model` should respect the `ng-model-options`

Code:
`<input mdc-datetime-picker date="true" time="false" type="text" format="MM/DD/YYYY Z" show-todays-date ng-model="date" ng-model-options="{ timezone: 'utc' }" />`

[2018-02-09 16:23] kairos34 opened #29 "Cannot open from modal"
When open from modal, timepicker stays behind of caller modal.

[2018-02-09 16:29] ptitdam2001 commented on #27
Hi there is a bug onto the version 1.12.0 with angular 1.5.9.

A the end of the process, we have that error

`
TypeError: Cannot read property 'timezone' of undefined
    at eval (angular-material-datetimepicker.js:259)
    at processQueue (angular.js:16606)
    at eval (angular.js:16622)
    at Scope.$eval (angular.js:17913)
    at Scope.$digest (angular.js:17727)
    at eval (angular.js:17952)

[2018-02-09 21:02] hexadecy commented on #29
More info please and an example if you can?
Are you using md-dialog or md-panel with multiple: true?

I know it's working with md-dialog.

[2018-02-09 21:04] hexadecy commented on #27
Yep, it's an issue with 1.12.0 and angular < 1.6

[2018-02-10 04:07] hexadecy commented on #27
Fixed by https://github.com/beenote/angular-material-datetimepicker/commit/b35700352bc3566531b332a6c877be703cf7754c

[2018-02-10 04:39] hexadecy commented on #27
https://github.com/beenote/angular-material-datetimepicker/releases/tag/v1.13.0

[2018-02-18 01:51] #29 closed

[2018-02-18 01:51] #27 closed

[2018-03-02 08:36] kairos34 commented on #29
Sorry for late reply but I solved issue changing z-index value.
Thank you so much.

[2018-04-23 12:16] andreyjkee opened #30 "Add validation for input with format"
When format, for example, is M/D/YY, I can input value like 8/18/18qwerty, and there are no form validation errors, but in $ngModelValue we have undefined. I think we should provide the error in form.$error object when invalid format takes place.

[2018-04-23 12:47] hexadecy commented on #30
Which $error type to set? 'date-format' ?
[code]

[2018-04-23 12:57] andreyjkee commented on #30
yes, I think `date-format` or simply `format` word will be fine, like min/max errors

at this moment I  have workaround in my code where I use `format` keyword for $errors
`
this.form.date.$setValidity("format", moment(this.form.date.$viewValue, scope.format).isValid());
`

[2018-04-23 13:10] andreyjkee opened #31 "timezone option applied only in dialog mode"
Hi!
I found issue with timezone option,
timezone applied only for dialog mode, I think it needs to be applicable also when edit-input is true.
So we need to apply utcOffset also when ngModelChange takes place

[2018-04-23 13:40] andreyjkee commented on #30
And additional note `moment('4/30/19dd', 'M/D/YY').isValid()` for example, returns true. I think it is wrong, we need to make moment use strict parsing, `moment('4/30/19dd', 'M/D/YY', true).isValid()`

[2018-04-23 13:47] hexadecy commented on #30
I think strict parsing is a good idea in this case.

[2018-04-23 14:00] hexadecy commented on #31
You mean when the time is in a format like `06:35 am +02:00`.
Yes, I didn't implement it with edit-input yet.

[2018-04-24 10:39] andreyjkee commented on #30
@hexadecy Works for now, thank you.
Waiting for npm release :)

[2018-04-24 10:40] #30 closed

[2018-04-24 13:33] andreyjkee commented on #31
Works now

[2018-04-24 13:55] hexadecy commented on #31
- Not working for offset `'utc' : 0`
- Converted to normal JS date instead of staying as moment._isUTC in this special case.
- When changing manually it will shift to a different point in UTC, passing `false `to utcOffset it will only change the local time and stay in the correct time zone.

[2018-04-24 14:04] hexadecy commented on #31
You can use the third example to test that: https://beenote.github.io/angular-material-datetimepicker/

[2018-04-24 15:00] hexadecy commented on #31
@andreyjkee it is now published on npmjs. Thanks for you work on this.

[2018-04-25 08:33] andreyjkee commented on #31
@hexadecy thank you for active collaboration on this change.
I found some issue in my use cases: https://github.com/beenote/angular-material-datetimepicker/commit/9c5d55029eabfccf4d4a5f57aeaf5c06e957a287?diff=split#r28729853 (see comment)

[2018-04-25 10:38] andreyjkee opened #34 "when minute steps defined, not all available steps displayed in clock"
When minute steps defined, not all available steps displayed in the clock. And maybe if step equals to 15, we should hide nonavailable steps (or mark these as disabled)?

[2018-04-25 17:21] hexadecy opened #35 "Fallback and today time is not rounded to 0 seconds, 0 milliseconds"
But in seconds mode it should not be rounded.

[2018-04-25 17:40] hexadecy commented on #31
Maybe you are offsetting the time with a $watch somewhere in your code.
When I init the date with moment.utc() it changed nothing in my third example case.
I need more info, your template? an example? step by step to reproduce.

[2018-04-25 18:01] hexadecy commented on #35
Included in v1.14.0

[2018-04-25 18:01] #35 closed

[2018-04-26 02:56] hexadecy commented on #34
Good idea!

[2018-04-26 02:57] hexadecy commented on #34
Included in 1.15.0, re-open if anything.

[2018-04-26 02:57] #34 closed

[2018-04-26 08:56] andreyjkee commented on #31
I create the date with offset (which comes from user stored setting on server, for example "+0000" for London.
ng-models is:
`
date = moment().utc().utcOffset(this.gmtOffset);
`
format comes from user settings, in this case it is M/D/YY hh:mm
And i display date with moment(date).format('M/D/YY hh:mm')
time displayed in input in my local timezone, instead of offset
If i change m.utcOffset(offset, f

[2018-04-26 13:18] hexadecy commented on #31
Try with:
`date = moment().utcOffset(this.gmtOffset);`
But there is no DST when using this.

[2018-04-26 13:43] andreyjkee commented on #31
I tried, without utc() call problem is stay

[2018-04-27 01:00] hexadecy commented on #31
Ok it was a problem with the parsing format. I was using the **Z** in my example.

[2018-04-27 03:02] hexadecy commented on #31
https://github.com/beenote/angular-material-datetimepicker/releases/tag/v1.15.1

[2018-04-27 08:16] andreyjkee commented on #31
@hexadecy awesome, thank you! now works as expected!

[2018-04-27 08:16] #31 closed

[2018-05-16 09:03] andreyjkee opened #36 "Ability to hide Today button"
Please add param to hide Today button

[2018-05-16 11:45] andreyjkee commented on #36
can be solved via css styling:
[code]

[2018-05-17 06:27] KashyakSupport opened #37 "How to import module in angular 5"
angular.module('myAwesomeModule', [
      //other dependencies ignored
      'ngMaterialDatePicker'
    ]);

[2018-05-17 07:21] KashyakSupport commented on #37
https://stackoverflow.com/questions/50385520/how-to-import-module-for-ng-material-datetimepicker-in-angular-5

[2018-05-17 07:31] andreyjkee commented on #37
@KashyakSupport this module is for angularjs, you can't use it with angular

[2018-05-17 07:38] KashyakSupport commented on #37
Is there any datetimepicker package for angular material?

[2018-05-17 13:27] andreyjkee commented on #37
@KashyakSupport I think you need this: https://material.angular.io/components/datepicker/overview

[2018-05-18 04:04] hexadecy commented on #37
https://github.com/DanielYKPan/date-time-picker The most complete package to date
https://github.com/owsolutions/amazing-time-picker Only the time picker

This is strange, Google killed the Material specs page for pickers : https://material.io/guidelines/components/pickers.html

[2018-05-21 14:09] andreyjkee opened #38 "Add $watchers for min and max date"
In my use case I have two related inputs, where first is start date, and second is end date. Min for end date is set as start date + 1 day, but validation triggered only if second input changed manually.
I add additional code to figure out this problem.
[code]
and for maxDate
[code]
@hexadecy could you add this to package?

[2018-05-21 19:02] hexadecy commented on #38
@andreyjkee, I don't want to add too much watchers. I think you can also use ng-change for that...

[2018-05-22 07:29] andreyjkee commented on #38
@hexadecy you mean calling $setValidity manually for all dependent fields? I think its not better approach

[2018-05-23 20:20] #37 closed

[2018-05-23 20:22] hexadecy opened #39 "Doesn't load correctly with moment 'Invalid date'"
We should check if date isValid();

[2018-05-23 20:25] hexadecy commented on #38
@andreyjkee ok can you make a PR for this?

[2018-05-24 09:55] andreyjkee commented on #38
@hexadecy sure, created

[2018-05-24 13:42] andreyjkee commented on #39
[code]
should be replaced with:
[code]

[2018-05-24 18:39] hexadecy commented on #39
My case was when the model is set to moment('Invalid date');

[2018-05-24 18:54] hexadecy commented on #38
Ok, I will do more testing before releasing a new version.

[2018-05-29 14:32] hexadecy commented on #38
Does not work when there are more than 2 date time pickers.
Also in some case, scope.currentDate is not always a moment object.
Maybe we have to look at $validators and $validate()...

[2018-05-29 14:47] hexadecy commented on #39
In v1.15.2

[2018-05-29 14:47] #39 closed

[2018-05-30 13:56] nidhinkumar06 opened #41 "Module 'ngMaterialDatePicker' is not available!"
Module 'ngMaterialDatePicker' is not available! You either misspelled the module name or forgot to load it. If registering a module ensure that you specify the dependencies as the second argument.

When i run the code in dev-mode it works fine when i try to build the app using gulp serve: dist it shows me the error like mentioned above

[2018-05-30 15:13] tux1337 opened #42 "Timezone issue on ng-model bind"
I have a web formular which loads previously saved values to a datetimepicker field.

When I bind the saved value to the ng-model of the field, for example:
`2018-06-07T21:15:00.000Z`
it is shown as UTC in the formular and is not calculated to my timezone which it works when I pick it over the picker dialog.

If I save this value once more, it is calculated from my current timezone to a UTC value

[2018-05-31 10:18] tux1337 commented on #42
I was able to solve it:
You have to use format="YYYY-MM-DD HH:mm**Z**"

This was not clear for me after studying the documentation. Maybe we can improve this in the readme.

[2018-06-04 14:53] hexadecy commented on #41
@nidhinkumar06 There was no gulp serve task.
To build `gulp` or `gulp default`

[2018-06-04 15:02] hexadecy commented on #41
I was using lite-server, I've just added some shortcuts:
[code]

It's based on browser-sync and served me pretty well for AngularJS app.

[2018-06-04 15:14] hexadecy commented on #42
@tux1337 can you please make a suggestion to improve the readme?

[2018-06-13 13:02] andreyjkee commented on #38
@hexadecy which error you have (when more than 2 date time pickers)?

[2018-06-15 14:48] hexadecy commented on #38
With the demo of this project.
[code]

[2018-06-16 02:50] hexadecy commented on #36
I added some one-time binding with this change, I suppose it's marginally lighter than your css trick.

[2018-07-02 05:15] hexadecy commented on #42
Readme improved

[2018-07-02 05:15] #42 closed

[2018-07-04 03:12] #41 closed

[2018-07-04 03:13] #36 closed

[2018-07-16 11:34] andreyjkee opened #43 "Validation not triggered when using edit-input and datepicker"
For reproduce set min-date, then write one month before this date, an error is shown. Then click to Icon and open Calendar, then select min available date (picker will close (why?)), error still present, because $setValidity was not triggered.

For picker close issue maybe this fix can be applied:
[code]
need to replace with:
[code]

[2018-08-03 17:10] hexadecy commented on #43
What I have when I open the calendar, is the min date. The picker never close by itself.
What do you have in the console log?

[2018-09-06 15:23] francois-bernard-bouissieres opened #45 "mixing manual entry and calendar leads to invalid date format"
In case we have the edit-input in the component, mixing manual entry and calendar leads to invalid date format:

To reproduce:
-	input the date and the time manually (with correct format)
-	delete the date and the time manually (not with the cross)
-	choose a date and a hour in the date-picker.

==> Component is in invalid date format state

[2018-09-09 01:10] hexadecy commented on #45
Ok I see, choosing the date in the picker don't set the date format valid.

[2018-09-14 19:30] #45 closed

[2018-09-14 19:32] hexadecy commented on #43
@andreyjkee I cannot reproduce this issue so I cannot fix it.
Can you provides me a demo or a detailed step by step.

[2018-10-05 17:32] Jensenj010 opened #46 "Cant get .js.map to load"
I am running a MEAN stack environment, and ran into an issue.
Granted, this is probably me doing something wrong and not a true issue with the code.

We have a PUG template acting as our main view, and are declaring all dependencies there. In it, I have these lines:

[code]
the scripts portion of the src is set to our node-modules folder using this line:

`app.use('/scripts', express.static(path.j

[2018-10-08 14:57] hexadecy commented on #46
Don't add the js.map at all and don't specify the type for javascript.
The browser will use the same path as for .js
[code]

[2018-10-08 16:35] Jensenj010 commented on #46
It works! Thanks a lot :)

[2018-10-08 16:35] #46 closed

[2018-10-10 15:20] ajmueller opened #47 "Max date does not allow valid values to be selected"
**Library Versions:**
- AngularJS: 1.7.2
- Angular Material: 1.1.10
- Angular Material Datetimepicker: 1.17.0
- Moment.js: 2.22.2

**Reproduction Steps**
1. Set a `max-date` property for a datetimepicker to be 12:50pm.
2. Try to change that datetimepicker's time to 12:00pm.
3. You can change the hour to 12 and the minutes to 0, but the PM button is disabled, despite being a valid option.

I have r

[2018-10-12 02:18] hexadecy commented on #47
@ajmueller Can you please confirm me it's ok with v1.17.1

[2018-10-12 02:46] ajmueller commented on #47
@hexadecy I've updated my Plunker and it's working great!  I've also updated our main application and it's working great there, too.  Thanks for such a quick turnaround!

[2018-10-12 02:46] #47 closed

[2018-10-13 21:45] hexadecy commented on #47
Always easier to fix when there is a demo. Good works.

[2018-10-15 23:18] ajmueller commented on #47
Thanks, glad to help!  This project is incredibly important for us at my job, so I'm happy that someone is still maintaining it.

[2018-10-24 20:37] ajmueller opened #48 "Times (sometimes) change on page load"
**Library Versions:**
- AngularJS: 1.6.10
- Angular Material: 1.1.10
- Angular Material Datetimepicker: 1.17.1
- Moment.js: 2.19.3
- MomentTimezone.js: 0.5.13

**Description of the Issue:**
We store the datetime of events in our database alongside the timezone offset in hours (e.g. `-0700`) and the timezone name of the event's location (e.g. `America/Los_Angeles`).  The timezone offset is used wit

[2018-10-26 01:43] hexadecy commented on #48
Ok I created a special version with the fix #47 only: [version 1.12.1](https://github.com/beenote/angular-material-datetimepicker/releases/tag/v1.12.1).

- Please test with a slow connection : https://helpdeskgeek.com/networking/simulate-slow-internet-connection-testing
- Test with a slow cpu: https://stackoverflow.com/questions/8521683/is-there-a-way-to-throttle-javascript-performance-to-simulate

[2018-10-26 15:57] ajmueller commented on #48
Awesome, thanks so much @hexadecy!  I'll switch to this version and put it in our dev environment immediately.  Regarding testing:

* We did run tests simulating slow connections and CPUs in Chrome for 1.17.1.  We'll be sure to the same for 1.12.1.  Unfortunately, in both cases (and even when they were combined), we were unable to reproduce the issue on our dev machines.
* I'll make sure to test I

[2018-10-27 14:48] hexadecy commented on #48
My guess is with 1.13.3, if it's a moment date it will not be converted back to a js date as before. Did you pass a moment or a js string date to the model?

[2018-10-30 15:53] ajmueller commented on #48
@hexadecy sorry for the delay, I took yesterday off work.

We do, in fact, pass a Moment object to the model and not a JS date.

[2018-10-31 02:16] hexadecy commented on #48
I did a lot of work for timezone in https://github.com/beenote/angular-material-datetimepicker/issues/31. Do you use `edit-input=true`.

@ajmueller  Can you console log a typical moment object from your backend server, I want to have a look at ._tzm and ._isUTC.

[2018-10-31 16:50] ajmueller commented on #48
@hexadecy I ended up figuring out the issue and I feel awful because it's entirely on our end and not in the picker at all.  While putting together a Plunkr example that more holistically represents our usage, it suddenly hit me what was happening and the timing with our upgrade to 1.17.1 just happened to coincide with an increase in managing events during both daylight time and standard time.

Lo

[2018-10-31 16:50] #48 closed

[2018-10-31 17:18] hexadecy commented on #48
@ajmueller I'm glad it's on your side 😄. Happy 🎃!

[2018-10-31 19:51] ajmueller commented on #48
I'm glad it's on our side as well.  Happy 🎃 to you, too!

[2018-11-20 12:32] shdehnavi opened #49 "Jalali calendar"
Hi,
How to convert this datepicker to jalali persian calendar ?

[2018-11-21 01:54] hexadecy commented on #49
You can fork this project or make a pull request.

[2018-12-08 03:28] arjundas opened #50 "Delay in open modal when using with android app webview"
I am using this module in my angularjs app which is load from android application webview.

all works fine when i open this app from browser, the modal is open as soon as click on input element, but when i load it from webview of android app it takes almost 3-4 seconds to open modal.

my input elements is as follows
[code]

Any help regarding this?

[2018-12-09 13:31] hexadecy commented on #50
Angularjs version? , android device used?, emulator or real?...

[2018-12-10 04:31] arjundas commented on #50
Angularjs version 1.5.8
Android version 5.1 ( lollipop )
Android device : Micromax Q465 ( real )

[2018-12-16 02:38] hexadecy commented on #50
This is strange.
In the demo: https://beenote.github.io/angular-material-datetimepicker/, the two first picker sometimes open slower 2-3 seconds the first time only.
I used http://flatteredwithflutter.com/webview-in-flutter/ on a Pixel 2 Android Emulator.

Do they perform better for you?:
https://material.angularjs.org/latest/demo/datepicker

Maybe it's related to the use of css getComputedStyle i

[2018-12-17 10:11] arjundas commented on #50
Yes, a native datepicker of angularjs material works speedy but its not provide a pop view for datepicker.

[2019-01-23 10:50] sonusindhu opened #51 "Current year is not available in dropdown when we have restricted user to select future date"
Hi,

Firstly, we want to thankyou for this superb datepicker.

I am getting an issue and scenario is once I restricted user to not select the future date, then user can't able to select the current year from the dropdown. I am attaching screenshot what I mean to say so you can understand properly.

![image](https://user-images.githubusercontent.com/4919309/51601513-94f9d800-1f2a-11e9-9113-4ba5e55b

[2019-01-25 02:49] hexadecy commented on #51
Please let me know if v1.17.2 version fix your issue.

[2019-01-25 02:54] hexadecy commented on #50
Have you try with `show-icon="true"`. It seems slower with just the input.

[2019-01-25 02:59] hexadecy commented on #38
I don't want to add another watcher.

[2019-01-25 02:59] #38 closed

[2019-01-25 03:00] hexadecy commented on #43
Cannot reproduce, reopen with more info.

[2019-01-25 03:00] #43 closed

[2019-01-25 03:01] hexadecy commented on #11
Maybe not that useful.

[2019-01-25 03:01] #11 closed

[2019-01-25 05:17] sonusindhu commented on #51
Thank You @hexadecy for quick fix. It works fine now.

[2019-01-25 05:17] #51 closed

[2019-01-25 13:32] Chabana opened #52 "Add short days format options"
Hi,
Can we have the option to define the short days format in array ?
similar to materialjs ($mdDateLocaleProvider.shortMonths = ['Mon', 'Tue', ...]) ?

[2019-01-26 03:35] hexadecy commented on #52
`day-of-week-len="3"` or
`mdcDefaultParams({dayOfWeekLen: 3});`

[2019-01-26 03:41] hexadecy opened #53 "mdcDefaultParams provider not implemented for service"
Add a test in demo for that.

[2019-01-28 02:16] hexadecy commented on #53
Was ok!

[2019-01-28 02:16] #53 closed

[2019-01-28 07:05] #52 closed

[2019-01-29 02:14] hexadecy commented on #49
[Jalali calendar](https://en.wikipedia.org/wiki/Jalali_calendar) or
[Solar Hijri calendar](https://en.wikipedia.org/wiki/Solar_Hijri_calendar)
The Jalali seems hard to implement.

[2019-01-29 06:19] shdehnavi commented on #49
you can merge it with jalali pre-built repositories, its' not necessary to build it from the first and develope jalali system from first.

ty

[2019-02-05 05:55] sonusindhu opened #54 "Time issue AM/PM if future date is restricted"
Hi,

Thanks for the great plugin, I am facing issue which I describe step by step and let me know if you need more clarity.

1.	Select the Any date expect the today date

![step1](https://user-images.githubusercontent.com/4919309/52255428-8521c100-2938-11e9-8428-49561040edda.png)

2.	Select PM from AM/PM buttons

![step2](https://user-images.githubusercontent.com/4919309/52255436-894dde80-2938-11e

[2019-02-07 02:54] hexadecy commented on #54
What is your maxDate? now?
Today button also set it to now, but it will be after maxDate is time pass.

[2019-02-07 07:25] sonusindhu commented on #54
Yes, I have maxDate is now.

[2019-02-08 02:30] hexadecy commented on #54
Ok it was two checks missing for the selected date, it also affected the today button.
Thank you, it was a bug really hard for me to reproduce, I only work the afternoon ;)

[2019-02-11 05:41] sonusindhu commented on #54
@hexadecy Is this fixed?

[2019-02-11 21:16] hexadecy commented on #54
@sonusindhu yes in [v1.18.1](https://github.com/beenote/angular-material-datetimepicker/releases/tag/v1.18.1). Can you confirm it's ok and close this issue?

[2019-02-13 11:07] sonusindhu commented on #54
Thanks @hexadecy
It seems fixed now.

[2019-02-13 11:07] #54 closed

[2019-03-02 12:41] kadirguloglu opened #56 "ng-model not working"
angularjs version : 1.7.7
angular-material-datetimepicker version : 1.18.3
moment version : 2.24.0

angularjs ng-model attributes is not working.
`
<input mdc-datetime-picker="" today-text="Bugün" am-text="ÖÖ" pm-text="ÖS" cancel-text="İptal" ok-text="Tamam" date="true" time="true" type="text"
                                           placeholder="Başlangıç tarihi" show-todays-date="true" minutes

[2019-03-04 02:15] hexadecy commented on #56
I cannot reproduce it, what is the error message?
How did you initialize `"RezervationModel.StartDate"`?

[2019-03-08 01:35] hexadecy commented on #56
@kadirguloglu did you found something on your side?

[2019-03-08 13:44] sonusindhu opened #57 "Not loading properly on small screen size"
Hi,
Could you please check as I am facing issue on small screen size as picking popup is not loading properly on small screen size as well as once we have debugger window open.

![small screen size](https://user-images.githubusercontent.com/4919309/54031995-5ff1ce00-41d6-11e9-9363-b27a1969752c.png)

Please review and let me know if you need any clarification.

Thanks

[2019-03-10 02:38] hexadecy commented on #57
@sonusindhu I cannot reproduce that with the demo page:
![small screen DateTimePicker](https://user-images.githubusercontent.com/10960108/54079877-48d4de00-42b3-11e9-866d-156840242ad1.png)

It will center with the document body:
https://github.com/beenote/angular-material-datetimepicker/blob/gh-pages/js/angular-material-datetimepicker.js#L248

[2019-03-11 06:02] sonusindhu commented on #57
You are right. not an issue
Thanks

[2019-03-11 06:02] #57 closed

[2019-03-14 15:20] tw1nk opened #58 "ng-model-options {timezone: 'utc'} with min-date a utc moment doesn't work."
If your local timezone differs from UTC and the input is required the ng-model will be invalid.

[code]

[2019-03-14 15:22] tw1nk commented on #56
I have the same issue.
The form should be invalid if the date isn't set.

[2019-03-14 18:40] hexadecy commented on #56
Ok I see there is no required in the demo page.

[2019-03-17 01:34] hexadecy commented on #56
@tw1nk can you test with this commit please: https://github.com/beenote/angular-material-datetimepicker/commit/46e138c68a24133dbe561a4d8f4e2bcd2f0bff4a.

[2019-03-19 00:14] hexadecy commented on #58
@tw1nk does this commit 46e138c68a24133dbe561a4d8f4e2bcd2f0bff4a helps?

[2019-03-19 14:16] vladimirsvicevicsrb opened #59 "Support for Angular >= 2"
Hi, is there any chance to create the same component for Angular >= 2, or there is already implemented component similar to yours?
Thanks

[2019-03-22 03:24] hexadecy commented on #59
No clock: https://material.angular.io/components/datepicker/overview
Complete but not material themed: https://github.com/DanielYKPan/date-time-picker
Just the clock: https://github.com/owsolutions/amazing-time-picker

I do not personally have any plan to port this component to Angular Typescript.

[2019-03-25 21:52] tw1nk commented on #56
I'll try it tomorrow when i'm back at work.

[2019-04-10 17:10] texperts opened #60 "min time and max time"
I need two inputs from user start and end dates, times..,
after selecting the start date and time I can able to disable end date to select before the start date but I am unable to disable end times which are before start time.

@ViDaNgEr @beenoteadmin Let me know how the above issue can be achieved

[2019-04-12 02:16] hexadecy commented on #60
@texperts for anything different than the demo "DateRange Example", you need to have a watcher to set a value to max-date and min-date.

Does the input is changed manually?
https://github.com/beenote/angular-material-datetimepicker/issues/38

[2019-04-23 17:18] brianmtully opened #61 "Add mdDialog hasBackdrop option"
Can you add the mdDialog hasBackdrop option to the directive? That would be very helpful. Thanks.

[2019-04-26 21:42] hexadecy commented on #61
Ok I will do this.

[2019-04-27 00:31] #59 closed

[2019-04-27 00:31] hexadecy commented on #56
@tw1nk any issue?

[2019-04-27 00:33] #49 closed

[2019-04-27 01:15] hexadecy commented on #61
@brianmtully can you test it?

[2019-04-27 03:53] brianmtully commented on #61
Great! Yea I will test it. Thanks

[2019-05-02 02:24] cimela opened #62 "Add am/pm text customization"
I need to customize AM and PM button for Korean project (오천 and 오후).
I already use mdcDefaultParams({lang: 'kr'}) and it's still the same.

Can you add some setting like okText or cancelText?

[2019-05-04 01:25] hexadecy commented on #62
There is no {lang: 'kr'} in https://code.angularjs.org/1.7.7/i18n/
ko-kr? angular-locale_ko-kr.js

There is already amText and pmText, I updated the readme, so no new version is needed.

[2019-05-04 01:30] hexadecy commented on #56
Reopen if not fixed

[2019-05-04 01:30] #56 closed

[2019-05-04 01:31] hexadecy commented on #58
Reopen if not fixed

[2019-05-04 01:31] #58 closed

[2019-05-04 01:31] hexadecy commented on #61
Reopen if not ok

[2019-05-04 01:31] #61 closed

[2019-05-07 01:50] cimela commented on #62
It works like a charm. I can remove my code to change text manually.
Thanks for the information.

[2019-05-07 01:50] #62 closed

[2019-07-24 01:06] #60 closed

[2019-07-24 01:06] #50 closed

[2019-08-02 08:13] BenjaminHoegh opened #63 "Do you have this in a non-angular version?"
Do you have this in a non-angular version?

[2019-08-03 17:22] hexadecy commented on #63
No plan for that yet, you mean for wich framework? Or no runtime like svelte.

[2019-08-16 01:32] #63 closed

[2019-08-16 02:58] sg7893 opened #64 "Could not find a declaration"
I'm working with angular 8 and when I try to install via npm and import it:
`import { ngMaterialDatePicker } from "ng-material-datetimepicker";`

it says the following

Could not find a declaration file for module 'ng-material-datetimepicker'. 'XXXXX/node_modules/ng-material-datetimepicker/js/angular-material-datetimepicker.js' implicitly has an 'any' type.
  Try `npm install @types/ng-material-da

[2019-08-17 22:10] hexadecy commented on #64
Sorry, it's for AngularJS 1.x no plan to port it to Angular TS 2+

[2019-08-23 02:15] #64 closed

[2019-08-26 14:58] oliversalzburg opened #65 "Setting shortTime=true on a date picker shows AM/PM indicator"
If you set `shortTime` to `true` on a date picker, you will get an AM/PM indicator in the header of the dialog.

We noticed this because we set `shortTime` through `mdcDefaultParams` after the locale has been determined.

To work around this issue, we set `shortTime` explicitly to `false` when we only want to pick a date anyway.

[2019-08-29 13:17] hexadecy commented on #65
Ok I'll try to reproduce it.
date="true"
time="false"
what you have in mdcDefaultParams()?

[2019-08-29 13:21] oliversalzburg commented on #65
[code]

[2019-09-06 13:06] hexadecy commented on #65
Can you test v1.19.0?

[2019-09-06 13:31] oliversalzburg commented on #65
Works great. Thanks

[2019-09-06 13:31] #65 closed

[2019-09-06 14:02] oliversalzburg opened #66 "Picker icons cause layout issues, show-icon enables too many options"
The `show-icon` attribute causes a calendar or clock icon to be displayed next to the input element. Clicking this icon opens the picker. This is very convenient and I'd really like to enable this for a certain use case I have.

However, this also adds a _clear_ button to the input element, which can have unintended implications. In my case, I don't want the user to be able to remove the time valu

[2019-09-08 16:59] hexadecy commented on #66
Ok I will add a show-clear option.

[2019-09-09 01:41] hexadecy commented on #66
Option show-clear added in: 307a514b0e0eaeaf5da94d1752c9a68aa309c721 v1.19.1
The label should be normally above the input.
dtp-input can be override with a css like: `.dtp .dtp-input`

Can you provide me a full example? (code) or better jsFiddle.

[2019-09-09 11:12] oliversalzburg commented on #66
https://codepen.io/oliversalzburg/pen/NWKyJrd should showcase the issue with the label intersecting with the picker icon.

Also notice that, when you remove the `.dtp-input`, it has no effect on how the input is rendererd, which lead me to believe the class is actually redundant.

Thanks for the `show-clear`! I'll test it out ASAP

[2019-09-10 01:42] hexadecy commented on #66
It's because this picker needs the placeholder attribute.
[code]

[2019-09-10 07:39] oliversalzburg commented on #66
Oh yeah, that's much better 😀 Thanks for that. What about the `dtp-input` class though? It seems like it's not doing anything. And if you were to remove the `show-icon`, it even looks weird for being indented under the label.

![image](https://user-images.githubusercontent.com/1658949/64593735-dbfbe700-d3ae-11e9-93f7-90339273fb2a.png)

[2019-09-10 10:12] oliversalzburg commented on #66
`show-clear` is working perfectly btw. Thanks again

[2019-09-10 13:18] hexadecy commented on #66
Class like `.dtp-no-msclear` or `.dtp-input` are added by the datetime-picker component only when show-icon is `"true"`. Most of the code in this fork is for a special use case.
[code]
Please check examples at: https://github.com/beenote/angular-material-datetimepicker/blob/gh-pages/index.html

[2019-09-10 17:14] oliversalzburg commented on #66
Oh, I see. I just copied directly from https://beenote.github.io/angular-material-datetimepicker/ and didn't think the class would be added by the directive. Thanks

[2019-09-10 17:14] #66 closed

[2019-09-13 06:49] Chilo92 opened #67 "Month displayed is not the same as month view"
Hi

Thanks alot the for library i chose this one over the others cause of the customisable minutes. Users recently started complaining about this month view issue but i could not replicate it on my side, however today i went through your demo page and i see i can replicate the issue there.

When changing the month sometimes the month view does not update and stays on the same month until you navig

[2019-09-13 07:04] Chilo92 commented on #67
Also not sure if it helps but it seems this issue only occurs when there is a mindate

[2019-09-14 02:20] hexadecy commented on #67
You mean a maxdate now? I see the issue is with the virtualscroll that don't go up, but the correct date is selected.

[2019-09-15 04:55] Chilo92 commented on #67
Yes sorry meant maxdate. And yes I see what u mean by the virtual scroll is an issue.

[2019-09-16 07:23] FennaKropveld opened #68 "Upgrade angular library"
Would it be possible to upgrade this to angular (e.g. angular 7 or 8)?
It would be great if you could still give a time-zone similarly to ng-model-options="{timezone:'utc'}"

[2019-09-16 10:49] hexadecy commented on #68
Sorry this project will stay on AngularJS 1.x to support app already built.

[2019-09-16 10:49] #68 closed

[2019-09-18 03:29] hexadecy commented on #67
I think it's a lot better with [v1.19.2](https://github.com/beenote/angular-material-datetimepicker/releases/tag/v1.19.2), can you test it?

[2019-09-20 06:48] Chilo92 commented on #67
Sorry for the late response but i published this version to our production site, and so far no complaints from the users so it seems to have worked. Thanks for the help and quick response.
Also some more information i got the other day, it seems the user that initially reported it his screen was zoomed in chrome like 80% or so as soon as he zoomed out the issue was fixed, but again like i said no

[2019-09-24 02:15] #67 closed

[2019-11-19 10:56] johnvarv opened #69 "Cannot set default values for all params of the directive."
#### Current behavior:

I can not set default values for all default attributes of the directive.

#### Expected behavior:

I should be able to set default values for all default attributes of the directive.

#### More info:

I''m trying to set the some default params as stated on the documentation.

so in my `run` function I have this:

`mdcDefaultParams({ showIcon: true, minuteSteps: 1, editInpu

[2019-11-22 03:51] hexadecy commented on #69
The problem is that the mdcDefaultParams factory function override with its default value the attributes provided in the directive.

I don't want to break the backward compatibility, but you can make a fork.

[2020-01-10 07:52] norkunas opened #70 "Support clearing date from dialog"
I am using `mdcDateTimeDialog` without an input. As there is no "clear button" in default template, I have customized it to have a "clear" button and providing that template to the service. But setting `picker.currentDate=null` breaks whole calendar. Or there is another way to clear it that I don't see?

[2020-01-11 01:43] hexadecy commented on #70
You have to re-call initDates(), date time cannot be a null, it must be a moment date.

[2020-01-13 06:42] norkunas commented on #70
It still doesn't give the required output :) managed to workaround this:
[code]

[2020-01-13 06:42] #70 closed

[2020-01-23 02:38] #69 closed

[2020-02-19 09:51] lovepreetintugine opened #71 "unable to load datetime picker on dialog box."
unable to load datetime picker on dialog box . but Its showing back side of dialog box.

[2020-02-20 00:13] hexadecy commented on #71
What kind of dialog box? From angular material, which version, a code example?

[2020-02-20 04:30] lovepreetintugine commented on #71
I am using a materialize design modals
materialize version - 1.0.0
modals code example -
 <div id="editTrip" ng-show="editTrip" class="modal">
                    <div class="modal-content">
                       <md-input-container flex-gt-md="30">
        <label>Timepicker Only</label>
       <input mdc-datetime-picker="" date="true" time="true" type="text" id="datetimeedit"
placeholder="YYYY-M

[2020-02-20 04:37] lovepreetintugine commented on #71
[code]

[2020-02-22 03:56] hexadecy commented on #71
It's build to be used with `<md-dialog>` from [AngularJS Material 1.1.x](https://material.angularjs.org/latest/demo/dialog)

[2020-03-03 18:37] cgarveyie opened #72 "ng-change not being triggered as expected and validation failing"
**Assumptions**
format set to something like: DD.MM.YYYY HH:mm
ng-message="format" validation message
ng-change=[expression] set

**To duplicate this bug follow the steps below:**

1. Use the dialog to populate the field such that it reads "03.03.2020 4:23 PM" or similar
2. Click into the field and manually remove the "PM" suffix so it reads "03.03.2020 4:23"
3. Validation message appears
4. Use t

[2020-03-04 02:48] hexadecy commented on #72
It should works, make sure you have the correct `format="DD.MM.YYYY HH:mm A"` and `short-time="true"`

            <md-input-container>
              <label>Date/Time Picker edit input</label>
              <input mdc-datetime-picker date="true" time="true" type="text" id="datetimeedit"
                  format="DD.MM.YYYY HH:mm A" placeholder="DD.MM.YYYY HH:mm PM" short-time="true"

[2020-03-04 02:49] hexadecy commented on #71
Please make a fork if you want to use it with another framework.

[2020-03-04 02:49] #71 closed

[2020-03-05 13:57] cgarveyie commented on #72
I'm afraid that isn't working. The format set is: DD.MM.YYYY h:mm A
This generates a string like: 05.03.2020 1:20 PM
If you remove the "M" at the end of the string the validation doesn't trigger an error.
Removing the "P" as well does trigger the format validation message.

Video attached demonstrating the issue
[angular-material-datetimepickeri-ssue72.zip](https://github.com/beenote/angular-mater

[2020-03-08 04:12] hexadecy commented on #72
The library used behind the scene is Moment.js

a A | am pm | Post or ante meridiem (Note the one character a p are also considered valid)
-- | -- | --

So it's a valid date.

[2020-03-11 14:33] cgarveyie commented on #72
My point is that when the date is populated by the widget with a valid date the error message remains.
A user shouldn't have to manually click into the input field and add/delete a character to trigger the validation check.

[2020-03-11 14:53] hexadecy commented on #72
The error message disappears in the demo id="datetimeedit".
Maybe because you use an external ng-change, then you have to add a watcher for it.
I don't want to add other watchers included in the widget as some use cases don't need it.

[2020-03-21 02:40] #72 closed

[2020-04-03 11:05] cgarveyie opened #73 "If ng-disabled is true. Input field is disabled but buttons are not"
Pretty much as the title suggests. For a picker with the calendarWidget enabled, only the input field is disabled. The open widget and clear buttons are not disabled

[2020-04-06 03:43] hexadecy commented on #73
Can you check it works? with version 1.19.4

[2020-04-06 11:59] cgarveyie commented on #73
Hi hexadecy and thanks for looking at this so quickly.

It works if you pass in "true" or "false" as a string value for ngDisabled but if you pass in an expression which resolves to true or false it doesn't work.

My own use case is that I want to dynamically enable/disable the date time picker depending on whether or not an event is being scheduled  so for me this solution is incomplete.
e.g.
`ng

[2020-04-09 02:38] hexadecy commented on #73
Sorry, I have no idea right now how to make it dynamic.

[2020-05-19 11:36] oliversalzburg opened #75 "Date part is lost when editing time"
If you use a datetimepicker to only edit the time of a moment instance and that moment instant is for any other day than today, editing the time will reset it to the current day.

That is simply because https://github.com/beenote/angular-material-datetimepicker/blob/gh-pages/js/angular-material-datetimepicker.js#L218 only parses the time value and then loses any date that is stored in the current

[2020-05-22 19:26] profhess opened #76 "Which Angular Version?"
It looks like this was recently updated, yet the docs mention AngularJS. Which version of Angular is this for? I only ask because it seems odd to me that there would continue to be updates for AngularJS. Please confirm.

[2020-06-09 09:26] Thaina opened #77 "Option to edit both date and time at the same time on dialog?"
Is it possible to show both clock and calendar at the same time?

And if possible, I wish there would be a simple mode. With number picker for year/minute/second and dropdown for date/month/hour. And could make a combination of simpledate/fullclock or calendar/simpleclock

[2020-06-09 19:34] hexadecy commented on #76
Yes, it's still in AngularJS. Some people are still using it for older projects. There is no business value to change web frameworks if it works well.

[2020-06-09 19:34] #76 closed

[2020-06-09 19:38] hexadecy commented on #77
There is no option for that.

Templates have to be modified in the code, probably safer to fork this project.

[2020-06-09 19:39] hexadecy commented on #75
Can you submit a PR?

[2020-06-15 07:56] oliversalzburg commented on #75
I guess I really should, but I was in such a hurry when I noticed the issue that I didn't get a good grip on the source of the issue.

I believe the root cause was https://github.com/beenote/angular-material-datetimepicker/blob/gh-pages/js/angular-material-datetimepicker.js#L224 where `.toDate()` is called, making the model value a `Date` and not a `moment`. I don't understand the purpose of this

[2020-06-15 17:58] hexadecy commented on #75
The toDate() is used only for a legacy reason and I don't want to add a breaking change.

[2020-06-24 14:10] oliversalzburg commented on #75
This'll get way too complicated for me to fix upstream. I'll just leave a workaround here in case someone has the same problem in the future:
[code]

[2020-06-24 14:10] #75 closed

[2020-08-25 12:21] oliversalzburg opened #80 "Not compatible with Angular 1.8"
Could also affect 1.7. I assume it's due to reliance on prebinding. All passed arguments are not merged into params, because `this.options` is `undefined`:

https://github.com/beenote/angular-material-datetimepicker/blob/gh-pages/js/angular-material-datetimepicker.js#L376

[2020-09-07 18:11] #80 closed

[2020-12-31 05:16] #77 closed

[2021-09-04 19:00] #73 closed

[2021-09-04 19:00] hexadecy commented on #73
Stalled issue

[2021-12-23 17:22] valentin-tkachev opened #88 "User cannot use blue bubble on the clock to set time on Firefox"
If users select the blue bubble on the clock and keep their mouse cursor pressed down to move the hour or minute, they are refreshed the page. This is only happening on the Firefox browser.

The user is able to select the hour or minute hand and move it around with no issues.

Steps To Reproduce:

1. Open Timepicker
2. When setting the time, left-click the blue bubble on the hour, keep the mouse b

[2022-04-16 23:09] hexadecy commented on #88
Should be fixed for all clickable elements.

[2022-04-23 15:28] #88 closed

[2022-06-02 08:57] oliversalzburg opened #91 "Min/max date comparison is apparently not timezone-safe"
Nice to see this project is still being maintained so many years later :D

One of our users is in GMT-8 and was handling GMT+2 dates in the calendar. Due to the comparison being done in https://github.com/beenote/angular-material-datetimepicker/blob/gh-pages/js/angular-material-datetimepicker.js#L454-L486 this resulted in not all expected dates be shown on the calendar.

I can produce a minimal ex

[2022-06-02 09:01] oliversalzburg commented on #91
After looking at the repo now, I see there's an option `ng-model-options="{timezone: 'utc'}"` that I was not aware of. Maybe this might be a non-issue if we had that in our code.

[2022-06-03 23:18] hexadecy commented on #91
Yes you have to use this options. This library was first built to be used with the browser's local time only.

[2022-06-04 20:47] #91 closed